# requirements.txt
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
APScheduler==3.10.4
requests==2.31.0
ping3==4.0.4
pysnmp==6.0.13
python-dotenv==1.0.0
Werkzeug==3.0.1
